.data {
  font: 15px "Inconsolata", monospace;
  color: var(--escuroBackground);
}

.data::before {
  content: "(" ;
}

.data::after {
  content: ")" ;
}

.nome {
  font-weight: bold;
}

.entrou {
  display: inline-flex;
  align-items: center;
  column-gap: 5px;

  background-color: var(--primariaBright);
  color: rgb(0, 0, 0);
  padding: 8px 20px;
  border-radius: 20px;
  margin-bottom: 8px;
  max-width: 80%;
  font: 400 16px "Poppins", sans-serif;
}

.entrou_container {
  width: 100%;
  text-align: center;
}

.saiu {
  display: inline-flex;
  align-items: center;
  column-gap: 5px;

  background-color: var(--primaria);
  color: rgb(0, 0, 0);
  padding: 8px 20px;
  border-radius: 20px;
  margin-bottom: 8px;
  max-width: 80%;
  font: 400 16px "Poppins", sans-serif;
}

.saiu_container {
  width: 100%;
  text-align: center;
}

.historico{
  display: inline-flex;
  align-items: center;
  column-gap: 5px;

  color: white;
  background-color: #4d4d4d;
  padding: 8px 20px;
  border-radius: 20px;
  clear:right;
  margin-bottom: 8px;
  max-width: 80%;
  font: 400 16px "Poppins", sans-serif;
}

.historico .data {
  color: white;
}

.historico .nome::after {
  content: ':';
}
